* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #3a63a6;

  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

body header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  list-style: none;
}

body header nav ul li a {
  color: #000000;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  div {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1368px) {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
